@using Microsoft.AspNet.Identity
@model ShanesSpot.Models.ManageUserPasswordViewModel


@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Change Password Form</h4>
        </div>
        <div class="panel-body">
            <div class="row" style="padding: 10px;">
                @Html.ValidationSummary()
                @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                <div class="col-xs-offset-8 col-xs-4">
                    <label class="control-label">&nbsp;</label>
                    <input type="submit" value="Submit" class="form-control btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}
