@using ShanesSpot.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}
<div class="well well-lg"><h2>@ViewBag.Title.</h2><p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p></div>

@if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
{
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Message</strong> @ViewBag.StatusMessage
    </div>
}
<div class="row">

    <div class="col-md-6">
        @Html.Partial("_ManageProfilePartial", ViewData["ManageProfileViewModel"])

    </div>
    <div class="col-md-6">
        @(ViewBag.HasLocalPassword ? Html.Partial("_ChangePasswordPartial") : Html.Partial("_SetPasswordPartial"))
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
