@using Microsoft.Ajax.Utilities
@using Microsoft.AspNet.Identity
@using ShanesSpot.Classes
@if (Request.IsAuthenticated)
{
    <form action="@Url.RouteUrl("Default", new { controller="Account", action="LogOff"})" id="logoutForm" method="post">
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink(User.Identity.GetUserName() + "!", MVC.Account.Manage(), new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </form>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li style="display: none;">@Html.ActionLink("Register", MVC.Account.Register(), new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", MVC.Account.Login(),new { id = "loginLink" })</li>
    </ul>
}
