@using Microsoft.AspNet.Identity
@model ShanesSpot.Areas.Blog.Models.BlogEntryViewModel

@{
    ViewBag.Title = "Details";
}

<div class="well well-lg">
    <h2>Blog Entry</h2>
    @Html.ActionLink("Back to List", "Index")
</div>

<div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <table>
                <tr>
                    <td style="width:1%;">
                        <span class="">
                            @Model.User<br />
                        </span>
                    </td>

                    <td style="padding: 10px;">
                        <h1>@Model.Title</h1>
                    </td>
                    <td style="width:1%;">
                        @if (String.Equals(User.Identity.GetUserId(), Model.UserId, StringComparison.CurrentCultureIgnoreCase))
{
                            @Html.ActionLink("Edit", "Edit", new {id = Model.Id})<br/>
                            @Html.ActionLink("Details", "Details", new {id = Model.Id})<br/>
                            @Html.ActionLink("Delete", "Delete", new {id = Model.Id})<br/>
                        }
                    </td>
                </tr>
            </table>



        </div>
        <div class="panel-body">
            <div class="well well-sm">
                <h6>@Model.DateTime</h6>
                Source: <a href="@Model.Link" target="_blank">@Model.Link</a>
            </div>
            @Html.Raw(Model.Body)
        </div>
    </div>
</div>

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
